
@{
    ViewBag.Title = "Yeniogretmen";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label1>ÖĞRETMEN ADI</label1>
        <input type="text" class="form-control" name="ogretmenad" />
    </div>
    <div>
        <label1>ÖĞRETMEN SOYADI</label1>
        <input type="text" class="form-control" name="ogretmensoyad" />
    </div>
    <div>
        <label1>ÖĞRETMEN GİRİŞ</label1>
        <input type="text" class="form-control" name="ogretmengiris" />
    </div>
    <div>
        <label1>ÖĞRETMEN ÇIKIŞ</label1>
        <input type="text" class="form-control" name="ogretmencıkıs" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">ÖĞRETMEN EKLE</button>
    </div>

</form>

