@using imranvize.Models.entity
@model List<idari>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
   
    <tr>
        <th>adı</th>
        <th>Soyadı</th>
        <th>Giriş Tarihi</th>
        <th>Çıkış Tarihi</th>
    </tr>
    <tbody>
        @foreach (var ögr in Model)
        {
            <tr>
                <td>@ögr.idariadsoyad</td>
                <td>@ögr.idariunvan</td>
                <td>@ögr.idaribasla</td>
                <td>@ögr.idaricıkıs</td>

                <td><a href="/idari/SIL/@ögr.idariid" class="btn btn-danger">SİL</a></td>
                <td><a href="/idari/idariguncelle/@ögr.idariid" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/idari/Yeniidari/" class="btn btn-primary">YENİ İDARİ YÖNETİCİ EKLE</a>
