
@{
    ViewBag.Title = "Yeniidari";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label1>İDARİ ADI VE SOYADI</label1>
        <input type="text" class="form-control" name="idariadsoyad" />
    </div>
    <div>
        <label1>UNVAN</label1>
        <input type="text" class="form-control" name="idariunavn" />
    </div>
    <div>
        <label1>İDARİ GİRİŞ</label1>
        <input type="text" class="form-control" name="idarigiris" />
    </div>
    <div>
        <label1>İDARİ ÇIKIŞ</label1>
        <input type="text" class="form-control" name="idaricıkıs" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">İDARİ EKLE</button>
    </div>

</form>

