
@{
    ViewBag.Title = "Yeniogrenci";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label1>ÖĞRENCİ ADI</label1>
        <input type="text" class="form-control" name="ogretmenad" />
    </div>
    <div>
        <label1>ÖĞRENCİ SOYADI</label1>
        <input type="text" class="form-control" name="ogretmensoyad" />
    </div>
    <div>
        <label1>KREDİ</label1>
        <input type="text" class="form-control" name="ogretmengiris" />
    </div>
    <div>
        <label1>MEZUN</label1>
        <input type="text" class="form-control" name="ogretmencıkıs" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">ÖĞRENCİ EKLE</button>
    </div>

</form>

